.sidebar-module-header {
    font-family: 'Roboto';
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 15px;
    padding-bottom: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
}