.project-filter {
    ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
    }

    a {
        &:hover {
            text-decoration: none;
        }
    }

    .project-item {
        padding: 10px 15px;
        display: block;
        font-size: .9em;
        margin: 0;
        color: #DBDBDB;
        font-weight: bold;

        &:hover {
            background: #312F33;
            text-decoration: none;
            cursor: pointer;
        }

        .active {
            background: #312F33;
        }
    }

    .item-actions {
        float: right;
        color: #888888;

        span {
            padding: 2px 6px;

            &:hover {
                background: #888888;
                color: #DBDBDB;
            }
        }
    }
}