.logo {
    display: flex;
    align-items: center;

    a {
        text-transform: uppercase;
        letter-spacing: 1px;

        &:hover {
            text-decoration: none;
        }
    }

    figure {
        width: 25px;
        height: 25px;
        background-size: cover;
        display: inline-block;
    }
}