#task-table {
    .complete td {
        text-decoration: line-through;
        color: #b3b3b3;

        input {
            text-decoration: line-through;
            background: none;
            border: none;
        }
    }
}