#task-table {
    .complete {
        td:not(.delete-task) {
            text-decoration: line-through;
            color: #b3b3b3;

            input {
                text-decoration: line-through;
                background: none;
                border: none;
            }
        }
    }

    .delete-task {
        span {
            padding: 2px 7px;

            &:hover {
                background: #d3d2d1;
                cursor: pointer;
            }
        }
    }
}