@import '../../variables';

input[type=text],
textarea,
textarea.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: none;

    &:focus {
        outline: none;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
}
