input[type=text],
textarea,
textarea.form-control {
    border: 1px solid #e6e6e8;
    padding: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: none;
            
    &:focus {
        outline: none;
        border-color: #e6e6e8;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
}