$vertical-padding: 10px;
$horizontal-padding: 15px;

.sidebar-module-header {
    background: #5e804d;
    padding: $vertical-padding $horizontal-padding;
    color: #ffffff;
    letter-spacing: 1px;

    h2 {
        display: inline;
        font-size: .9em;
        text-transform: uppercase;
    }

    a {
        color: #ffffff;
        text-decoration: none;
        padding: 2px 6px;

        :hover {
            background-color: #476039;
            text-decoration: none;
        }
    }

    .controls {
        float: right;
    }
}