{
	"plugins": [
		["babel-root-import", [{
      		"rootPathPrefix": "~",
      		"rootPathSuffix": "src/components"
    	}, {
      		"rootPathPrefix": "@",
      		"rootPathSuffix": "src"
    	}]]
	]
}