@import '../../../../../variables';

.task-list-new-item {
    background: $tt-white;
    margin-top: 10px;
    padding: 0px 15px 0px 45px;

    input {
        padding: 10px;
        border: none !important;
        background: none;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            cursor: text;
        }

        &::-moz-placeholder {
            font-style: normal;
            color: $tt-greymd;
        }

        &:-moz-placeholder {
            font-style: normal;
            color: $tt-greymd;
        }

        &::-webkit-input-placeholder {
            font-style: normal;
            color: $tt-greymd;
        }

        &:-ms-input-placeholder {
            font-style: normal;
            color: $tt-greymd;
        }
    }
}
