@import '../../../node_modules/react-datepicker/dist/react-datepicker.css';

.date-box {
    label {
        display: inline-block;
        font-weight: bold;
        margin: 0 10px 0 0;
    }

    .date-box .react-datepicker__input-container input {
        padding-left: 0;
        padding-right: 0;
    }

    input {
        width: 32px;
        font-size: 10px;

        &::-moz-placeholder {
            font-style: normal;
            font-size: .9em;
        }

        &:-moz-placeholder {
            font-style: normal;
            font-size: .9em;
        }

        &::-webkit-input-placeholder {
            font-style: normal;
            font-size: .9em;
        }

        &:-ms-input-placeholder {
            font-style: normal;
            font-size: .9em;
        }
    }
}
