.task-list-item-actions {
    float: right;
    color: #888888;

    span {
        padding: 2px 6px;

        &:hover {
            background: #888888;
            color: #DBDBDB;
        }
    }
}

.add-task-list-link {
    color: #888888 !important;

    &:hover {
        color: #DBDBDB !important;
    }
}