.sidebar-module {
    margin-bottom: 30px;
    
    h2 {
        font-family: 'Roboto';
        font-size: 10px;
        font-weight: 500;
        margin-bottom: 15px;
        padding-bottom: 4px;
        border-bottom: 1px solid #E3E3E3;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}