.sidebar-module {
    margin-bottom: 30px;
    
    h2 {
        font-family: 'Roboto';
        font-size: 10px;
        font-weight: 500;
        margin-bottom: 15px;
        padding-bottom: 4px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    a {
        color: #b2b2b2;
        font-size: 12px;
        border-left: 3px solid #2e3035;
        padding: 1px 0 0px 10px;
        margin-left: 10px;
        width: 100%;

        &:hover {
            border-left: 3px solid #73956F;
            color: white;
        }
    }
}