@import '../../../../../assets/stylesheets/_variables';

.group-filter-actions {
    float: right;
    color: white;
    margin-left: 10px;

    span,
    i {
        padding: 2px 5px;
        font-size: 12px;

        &:hover {
            color: white;
            cursor: pointer;
        }
    }
}
