@import '../../../variables';

.tt-checkbox {
    display: inline-block !important;

    input[type=checkbox] {
        display: none;
    }

    input[type=checkbox] + label {
        width: 15px;
        height: 15px;
        display: inline-block;
        border: 1px solid $tt-greyltr;
        padding: 0;
        vertical-align: middle;
        margin-bottom: 1px;

        &:hover {
            cursor: pointer;
        }
    }

    input[type=checkbox]:checked + label {
        background: url('/assets/images/checkmark-green-3.png') no-repeat;
        background-size: 100%;
        border: 0;
    }
}
