@import '../../../node_modules/react-dd-menu/src/scss/react-dd-menu';
@import '../../../assets/styles/_variables';

.dropdown-menu {
    ul {
        background: white;

        li {
            display: flex;
            font-family: Roboto;
            font-size: .8em;
            font-weight: 300;
            min-width: 200px;

            &.separator {
                background: $tt-borderlt;
                height: 1px;
                margin: 0;
                padding: 0;
            }

            a {
                display: flex;
                padding: 10px;
                width: 100%;
                
                &:hover {
                    background: $tt-primary-md;
                    color: white;
                }
            }

            .icon {
                margin-right: 5px;
            }
        }
    }
}
