@import '../../variables';

#root {
    .btn {
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        font-size: 12px;
    }

    .btn-primary {
        background-color: $tt-greenlt;
        border: none;

        &:focus,
        &:hover {
            background-color: $tt-green;
        }
    }
}
