@import 'assets/styles/_variables';

.textbox {
    border: 1px solid $tt-borderlt;
    box-shadow: none;
    padding: 6px;
    transition: none;
    width: 100%;
    -webkit-box-shadow: none;

    &:focus {
        outline: none;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    &::-moz-placeholder {
        font-style: normal;
        font-size: .9em;
    }

    &:-moz-placeholder {
        font-style: normal;
        font-size: .9em;
    }

    &::-webkit-input-placeholder {
        font-style: normal;
        font-size: .9em;
    }

    &:-ms-input-placeholder {
        font-style: normal;
        font-size: .9em;
    }

    &.incognito {
        border: 0;
        border-bottom: 1px solid transparent;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            border-bottom: 1px solid $tt-borderlt;
            cursor: text;
        }
    }
}
