.supplemental-form-links {
    margin-top: 20px;
        
    a {
        font-size: .8em;
        display: block;
        margin-bottom: 10px;

        &:hover {
            text-decoration: underline;
        }
    }
}