@import 'assets/styles/_variables';

.task-list {
    .task-list-item {
        align-items: center;
        background: white;
        border: 1px solid #eaeaea;
        display: flex;
        margin-bottom: 5px;
        padding: 10px 15px;

        &:hover {
            .icon {
                opacity: 0.5;

                &:hover {
                    cursor: pointer;
                    opacity: 1;
                }
            }
        }

        .icon {
            opacity: 0;
            padding: 5px;
        }

        .dd-menu-items {
            .icon {
                opacity: 1;
                padding: 0;
            }
        }

        .task-title {
            color: $text-dark;
            font-family: Roboto;
            font-size: .9em;
            font-weight: 300;
            padding-top: 6px;
        }
    }
}