@import 'assets/styles/_variables';

.task-list {
    .task-list-item {
        align-items: center;
        background: white;
        border: 1px solid #eaeaea;
        display: flex;
        margin-bottom: 5px;
        padding: 10px 15px;

        &.dimmed {
            opacity: .5;
        }
    }
}