.task-list-item {
    padding: 10px 15px;
    background: #ffffff;
    margin-bottom: 5px;
    min-height: 58px;

    &:hover {
        .tt-action-icon {
            opacity: .5;
        }
    }

    .tt-action-icon {
        opacity: 0;
        margin-right: 5px;
    }

    &.dimmed {
        opacity: .5;
    }
}
