#header {
    background: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 15px;
    border-radius: 0;
    float: left;
    width: 100%;
    margin-bottom: 15px;

    .text-filter {
        input {
            width: 100%;

            &:focus {
                outline: none;
                border-color: inherit;
                -webkit-box-shadow: none;
                box-shadow: none;
            }
        }
    }
}