@import 'assets/styles/_variables';

.sidebar-module {
    padding: 30px 0 0 15px;

    ul {
        li {
            display: flex;
            list-style-type: none;

            a {
                color: #b2b2b2;
                font-family: Roboto;
                font-size: .7em;
                font-weight: 300;
                padding: 10px;
                width: 100%;

                &:hover {
                    background: $tt-primary-md;
                    color: white;
                }

                &.active {
                    background: $tt-primary-border;
                    color: white;
                }
            }
        }
    }
}