#content {
    width: calc(100% - 275px);
    float: left;
    height: 100vh;

    &:after {
        display: block;
        content: "";
    }

    .loading-graphic {
        float: left;
        margin-top: 0;
    }
}