@import '../../../../variables';

#content {
    margin-top: 15px;

    &:after {
        display: block;
        content: "";
    }

    .loading-graphic {
        float: left;
        margin-top: 0;
    }
}

@media (min-width: $break-md) {
    #content {
        padding-top: 50px;
    }
}
