@import '../../variables';

.logo.dark {
    text-align: center;
    line-height: 4em;
    vertical-align: middle;

    a {
        color: $tt-black;
    }

    a:hover {
        color: $tt-greydk;
        text-decoration: none;
    }

    #logo {
        background-image: url("../../../assets/images/tt-dark.png");
        background-size: cover;
        position: relative;
        width: 25px;
        height: 25px;
        top: 8px;
        display: inline-block;
    }
}
