.logo.light {
    a {
        color: #dbdbdb;
        margin-left: 35px;
    }

    #logo {
        background-image: url("../../../assets/images/tt-light.png");
        background-size: cover;
        position: absolute;
        width: 25px;
        height: 25px;
        top: 6px;
        left: 10px;
    }

    a:hover {
        color: #ffffff;
        text-decoration: none;
    }
}
