@import '../../variables';

.logo.light {
    text-align: center;
    line-height: 4em;
    vertical-align: middle;

    a {
        color: $tt-white;
    }

    a:hover {
        color: $tt-white;
        text-decoration: none;
    }

    #logo {
        background-image: url("../../../assets/images/tt-light.png");
        background-size: cover;
        position: relative;
        width: 25px;
        height: 25px;
        top: 8px;
        display: inline-block;
    }
}

@media (min-width: $break-sm) {
    .logo.light {
        text-align: left;
    }
}
