#logo {
    background: #1a1a1a;
    padding: 10px 15px 10px 15px;

    a {
        color: #DBDBDB;
        display: inline;

        &:hover {
            text-decoration: none;
        }
    }

    #logo-text {
        padding: 10px 0 8px 10px;
        font-size: .9em;
        letter-spacing: 1px;
    }
}