@import '../../../assets/styles/_variables.scss';

.logo {
    display: flex;
    align-items: center;

    a {
        font-family: "Roboto";
        font-size: .8em;
        font-weight: 300;
        letter-spacing: 1px;
        text-transform: capitalize;

        &:hover {
            text-decoration: none;
        }
    }

    figure {
        background-size: cover;
        display: inline-block;
        height: 25px;
        margin: -2px 2px 0 0;
        width: 25px;
    }
}

.logo--light {
    figure {
        background-image: url('../../../assets/images/tt-light.png');
    }

    a {
        color: $tt-white;
    }
}

.logo--dark {
    figure {
        background-image: url('../../../assets/images/tt-dark.png');
    }
}