.task-table-task {
    .task-name {
        
    }

    .delete-task {
        span {
            padding: 2px 7px;
            &:hover {
                background: #d3d2d1;
                cursor: pointer;
            }
        }
    }
}
