.task-table-task-details {
    margin: 15px 15px auto auto;
    font-size: .9em;

    textarea {
        height: 150px;
        font-size: .9em;
    }

    button: {
        font-size: .9em;
        margin-top: 10px;
    }
}
