.task-table-task {
    font-size: .9em;

    label,
    input,
    textarea,
    button {
        font-size: .9em;
    }

    .delete-task {
        span {
            padding: 2px 7px;
            &:hover {
                background: #d3d2d1;
                cursor: pointer;
            }
        }
    }
}
