.task-table-task-brief {
    input {
        width: calc(100% - 20px);
        display: inline-block;
        background: none;
        border: none;
        
        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: none;
            border-color: inherit;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }

    i {
        width: 20px;
        text-align: center;

        &:hover {
            cursor: pointer;
        }
    }
}

.task-table-task-brief.edit-mode {
    input {
        &:hover {
            cursor: inherit;
        }
    }
}
