@import '../../../../../../../assets/stylesheets/_variables';

.empty-task-list-new-item {
    margin: 40px 0 0 0;
    padding: 0;

    input {
        text-align: center;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            cursor: text;
        }

        &::-moz-placeholder {
            font-style: normal;
            color: $tt-greymd;
        }

        &:-moz-placeholder {
            font-style: normal;
            color: $tt-greymd;
        }

        &::-webkit-input-placeholder {
            font-style: normal;
            color: $tt-greymd;
        }

        &:-ms-input-placeholder {
            font-style: normal;
            color: $tt-greymd;
        }
    }
}
