@import '../../../variables';

#analytics {
    background: #ffffff;
    position: absolute;
    bottom: 0;
    width: calc(100% - 30px);

    // border-top: 5px solid $tt-green;
    // position: fixed;
    // left: 275px;
    // bottom: 0;
    // width: calc(100% - 275px);
    font-size: .9em;

    .toggle-bar {
        padding: 10px 15px;

        .toggle {
            text-transform: uppercase;
            color: $tt-greydk;
            letter-spacing: 1px;

            .toggle-button {
                font-size: 1.2em;
                margin-right: 10px;
            }

            &:hover {
                cursor: pointer;
                text-decoration: none;
            }
        }
    }

    .drawer {
        padding: 15px 15px 0 15px;
    }

    #no-analytics-available {
        margin: 40px 0 20px 0;
        text-align: center;
        color: $tt-greymd;
    }
}
