.loading-graphic {
    background: url('/assets/images/spinner.gif');
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    margin: 10px 0;
    height: 20px;
}
