.task-list-item {
    width: 100%;
    padding: 15px 15px;
    background: #ffffff;
    margin-bottom: 5px;

    .task-brief {
        display: inline-block;
        width: calc(100% - 30px);
        margin: 0 0 0 15px;
        
        input {
            width: calc(100% - 30px);
            margin-right: 10px;
            padding: 5px 10px;
            display: inline-block;
            background: none;
            border: none;
            border-left: 1px solid #ffffff;
            font-size: 1.1em;
            
            &:hover {
                cursor: pointer;
            }
        }

        i {
            width: 20px;
            text-align: center;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .task-brief.task-complete {
        input {
            text-decoration: line-through;
            color: #cccccc;
        }
    }

    .task-brief.edit-mode {
        input {
            border: 1px solid #e6e6e8;

            &:hover {
                cursor: inherit;
            }
        }
    }

    .task-details {
        margin: 15px 30px 0 30px;
    }
}
