@import 'assets/styles/_variables';

.task-list-item {
    align-items: center;
    background: white;
    border: 1px solid #eaeaea;
    display: flex;
    margin-bottom: 5px;
    padding: 10px 15px;

    & > * {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    .icon {
        opacity: 0;
        padding: 5px;
    }

    .dd-menu-items {
        .icon {
            opacity: 1;
            padding: 0;
        }
    }

    .task-title {
        color: $text-dark;
        font-family: "Open Sans";
        font-size: .9em;
        font-weight: 300;
        padding-top: 4px;
    }

    .date-wrapper {
        text-align: right;
    }

    .date-picker {
        display: flex;
        align-items: center;

        input {
            &:hover {
                cursor: pointer;
            }
        }

        &.with-tooltip {
            label:hover {
                cursor: help;
            }
        }
    }
            
    .SingleDatePickerInput {
        border: 0;
    }

    .DateInput {
        width: auto;
    }

    .DateInput__display-text {
        border-bottom: 1px solid transparent;
        color: #939393;
        font-size: .6em;
        line-height: normal;
        margin: 0 4px;
        padding: 0;
    }
    
    .DateInput__display-text--focused {
        background: $tt-borderlt;
        color: #939393;
        margin: 0;
        padding: 0 4px;
    }

    &.complete {
        .task-title {
            opacity: 0.5;
            text-decoration: line-through;
        }
    }

    &:hover {
        .icon {
            opacity: 0.5;

            &:hover {
                cursor: pointer;
                opacity: 1;
            }
        }

        .DateInput__display-text {
            border-bottom: 1px dashed $tt-borderlt;
        }
    }
}
