.group-filter {
    input[type=text] {
        display: inline-block;
        width: 180px;
        padding: 0;
        height: auto;
        font-size: 1em;
        border: none;
        color: #dbdbdb;
        background: none;
    }

    .group-filter-name {
        &:hover {
            cursor: pointer;
        }
    }
    
    .group-filter-actions {
        float: right;
        color: #888888;
        margin-left: 10px;

        span,
        i {
            padding: 2px 5px;

            &:hover {
                color: #DBDBDB;
                cursor: pointer;
            }
        }
    }
}
