body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1.0em;
    color: #939393;
}

p {
    font-size: .8em;
    line-height: 1.5em;
}

a {
    color: #5b5b5b;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

a.light {
    color: #fff;
}

.page-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #1a1a1a;
}

.page-subtitle {
    font-size: 1.2em;
    margin-left: 1px;
}