body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1.0em;
    color: #939393;
}

p {
    font-size: .8em;
    line-height: 1.5em;
}

a {
    color: #5b5b5b;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

a.light {
    color: #fff;
}