// breakpoints
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;

// basic colors
$tt-primary-md: #555a66;
$tt-primary-dk: #454851;
$tt-primary-border: #2e3035;

$tt-black: #222222;
$tt-greydk: #444444;
$tt-greymd: #787878;
$tt-greylt: #bbbbbb;
$tt-greyltr: #dbdbdb;
$tt-white: #f6f6f8;

$tt-accent-red: #a33b20;

$tt-borderlt: #eaeaea;

// error colors
$err-text: #b94a48;
$err-border: #eed3d7;
$err-bground: #f2dede;

$warn-text: #c09853;
$warn-border: #fbeed5;
$warn-bground: #fcf8e3;

// text
$text-lt: #b2b2b2;
