@import 'assets/styles/_variables';

.main-layout {
    .workspace {
        float: left;
        width: calc(100% - 250px);
    }

    @media (max-width: $break-xs) {
        .workspace {
            width: 100%;
        }
    }
}
