.swapout-input-field {
    font-size: .9em;

    span {
        width: 100%;
        
        &:hover {
            text-decoration: none;
            cursor: pointer;
        }
    }

    input {
        width: 100%;
    }
}

.project-swapout-input-field,
.task-list-swapout-input-field
 {
    span {
        color: #888888;
        display: block;
        padding: 10px 0 10px 15px;

        &:hover {
            background: #312F33;
            color: #DBDBDB;
        }

        .active {
            background: #312F33;
        }
    }

    input {
        background: #636066;
        padding: 10px 15px;
        border: none;
        color: #DBDBDB;
        width: calc(100% - 30px);
        margin-left: 15px;
    }
}

.project-swapout-input-field {
    span {
        font-weight: bold;
    }   
}

.task-list-swapout-input-field {
    span {
        padding-left: 30px;

        &:hover {
            background: #636066;
        }
    }
    
    input {
        width: calc(100% - 45px);
        margin-left: 30px;
    }
}