@import '../../../variables';

.swapout-input-field {
    font-size: .9em;

    span {
        width: 100%;

        &:hover {
            text-decoration: none;
            cursor: pointer;
        }
    }

    input {
        width: 100%;
    }
}

.project-swapout-input-field,
.task-list-swapout-input-field
 {
    span {
        color: $tt-greymd;
        display: block;
        padding: 10px 0 10px 15px;

        &:hover {
            background: $tt-black;
            color: $tt-white;
        }

        .active {
            background: $tt-greydk;
        }
    }

    input {
        background: $tt-greymd;
        padding: 10px 15px;
        border: none;
        color: $tt-white;
        width: calc(100% - 30px);
        margin-left: 15px;
    }
}

.project-swapout-input-field {
    span {
        font-weight: bold;
        padding-left: 10px;
    }
}

.task-list-swapout-input-field {
    span {
        padding-left: 30px;

        &:hover {
            background: $tt-greymd;
        }
    }

    input {
        width: calc(100% - 45px);
        margin-left: 30px;
    }
}
