.task-table-task-details {
    margin-top: 15px;
    font-size: .9em;

    textarea.form-control {
        height: 150px;
        font-size: .9em;
    }

    button {
        font-size: .9em;
        margin-top: 10px;
    }
}
