@import '../../../assets/stylesheets/_variables';

#root {
    .error-alert {
        color: $err-text;
        background-color: $err-bground;
        border: 1px solid $err-border;
    }
}
