@import '../../../assets/stylesheets/_variables';

#root {
    .warning-alert {
        color: $warn-text;
        background-color: $warn-bground;
        border: 1px solid $warn-border;
    }
}
