@import '../../../variables';

.group-filter-header {
    input[type=text] {
        display: inline-block;
        width: calc(100% - 75px);
        padding: 0;
        margin: 5px 0;
        height: auto;
        font-size: 1em;
        border: none;
        color: $tt-white;
        background: none;
    }

    input.form-control {
        width: calc(100% - 73px);
    }

    .group-filter-name {
        display: inline-block;
        width: calc(100% - 55px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:hover {
            cursor: pointer;
        }
    }
}
