@import "./bottom-drawer/bottom-drawer.scss";
@import "./header/header.scss";
@import "./project-list/project-list.scss";
@import "./sidebar/sidebar.scss";
@import "./status-box/status-box.scss";

.content-pane {
    width: calc(100% - 250px);
    float: left;
    height: 100vh;

    &:after {
        display: block;
        content: "";
    }
}