@import '../../../assets/styles/_variables';

.checkbox {
    display: inline-block !important;
    margin-right: 10px;

    input[type=checkbox] {
        display: none;
    }

    input[type=checkbox] + label {
        width: 15px;
        height: 15px;
        display: inline-block;
        border: 1px solid $tt-borderlt;
        padding: 0;
        vertical-align: middle;
        margin-bottom: 1px;

        &:hover {
            cursor: pointer;
        }
    }

    input[type=checkbox]:checked + label {
        animation-duration: .5s;
        border: 0;
        -moz-animation-duration: .5s;
        -webkit-animation-duration: .5s;

        &:after {
            content: "\f00c";
            color: $tt-accent-red;
            font-family: "FontAwesome";
        }
    }
}
