@import 'assets/styles/_variables';

.workspace-header {
    background: white;
    box-shadow: 0 0 8px #aaa;
    color: #939393;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1000;

    i {
        font-size: 15px !important;
    }

    #sidebar-trigger {
        display: none;
    }
}

@media (max-width: $break-xs) {
    .workspace-header {
        #sidebar-trigger {
            display: inline;
        }
    }
}
