@import '../../../variables';

#user-controls {
    display: inline-block;
    width: 100%;

    p {
        text-align: center;
        color: $tt-white;
        margin: 0;
        line-height: 3.5em;
    }

    a:hover {
        cursor: pointer;
    }
}

@media (min-width: $break-sm) {
    #user-controls {
        p {
            text-align: right;
        }
    }
}
