@import '../../../variables';

.user-controls {
    float: right;
    display: flex;
    align-items: center;
    height: 45px;

    p {
        text-align: center;
        color: $tt-white;
        margin: 0;
        line-height: 3.5em;
    }

    a:hover {
        cursor: pointer;
    }

    .tt-action-icon {
        color: #ffffff;
    }
}

@media (min-width: $break-sm) {
    .user-controls {
        p {
            text-align: right;
        }
    }
}
