.sidebar-module-header {
    background: #5e804d;
    padding: 10px 15px;
    color: #ffffff;
    letter-spacing: 1px;

    h2 {
        display: inline;
        font-size: .9em;
        text-transform: uppercase;
    }

    a {
        color: #ffffff;
        text-decoration: none;
        padding: 2px 6px;

        :hover {
            background-color: #476039;
            text-decoration: none;
        }
    }

    .controls {
        float: right;
    }
}

.content-pane-module-header,
.bottom-drawer-module-header {
    padding: 10px 15px;
    background: #636066;
    color: #dbdbdb;
    text-transform: uppercase;
    letter-spacing: 1px;

    h2 {
        display: inline;
        margin: 0;
        font-size: .9em;
    }
}