@import '../../../assets/styles/_variables.scss';

.sidebar {
    background: $tt-primary-dk;
    border-right: 1px solid $tt-primary-border;
    float: left;
    height: 100vh;
    width: 250px;

    .status-filter-collection {
        .toggle-switch {
            margin-top: 5px;
        }
    }
}