@import 'assets/styles/_variables';

.sidebar {
    background: $tt-primary-dk;
    border-right: 1px solid $tt-primary-border;
    float: left;
    height: 100vh;
    width: 250px;

    .sidebar-header {
        background: $tt-primary-md;
        box-shadow: -6px 0 8px $tt-primary-border;
        position: relative;
        z-index: 2;
    }
}

@media (max-width: $break-xs) {
    .sidebar {
        display: none;
    }
}