.task-list-items {
    li {
        padding: 10px 15px 10px 30px;
        display: block;
        font-size: .9em;
        color: #DBDBDB;
        font-weight: normal;
        margin: 0;

        &:hover {
            background: #636066;
            cursor: pointer;
        }
    }
}