@import '../../../../variables';

.sidebar {
    // position: fixed;
    // top: 0;
    // left: 0;
    // height: 100vh;
    background: $tt-greydk;
    color: $tt-white;
    // float: left;
    // overflow-y: auto;
    // width: 275px;
    font-size: .9em;
    border-top: 5px solid $tt-green;

    .logo {
        padding: 11px 10px;
    }

    .accordion-item {
        .accordion-header {
            padding-left: 10px;
        }

        .accordion-header-content {
            padding: 10px;
        }
    }

    .task-group-view-edit-toggle-field {
        padding: 10px 10px 10px 13px;
        color: $tt-greymd;

        &:hover {
            color: inherit;
        }
    }
}
