.sidebar {
    // position: fixed;
    // top: 0;
    // left: 0;
    // height: 100vh;
    background: #3C393F;
    color: #dbdbdb;
    // float: left;
    // overflow-y: auto;
    // width: 275px;
    font-size: .9em;

    .logo {
        padding: 11px 10px;
    }

    .accordion-item {
        .accordion-header {
            padding-left: 10px;
        }

        .accordion-header-content {
            padding: 10px;
        }
    }

    .task-group-view-edit-toggle-field {
        padding: 10px 10px 10px 13px;
        color: #888888;

        &:hover {
            color: inherit;
        }
    }
}
