.new-task-row {
    td {
        input {
            background: none;
            border: none;

            &::-moz-placeholder {
                color: #b3b3b3;
            }

            &:-moz-placeholder {
                color: #b3b3b3;
            }

            &::-webkit-input-placeholder {
                color: #b3b3b3;
            }
            
            &:-ms-input-placeholder {
                color: #b3b3b3;
            }
        }
    }
}