.task-list-new-item {
    margin-left: 30px;

    input {
        padding: 5px 8px;
        border: none;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            cursor: text;
        }

        &::-moz-placeholder {
            color: #b3b3b3;
            font-style: normal;
            line-height: 16.2px;
        }

        &:-moz-placeholder {
            color: #b3b3b3;
            font-style: normal;
            line-height: 16.2px;
        }

        &::-webkit-input-placeholder {
            color: #b3b3b3;
            font-style: normal;
            line-height: 16.2px;
        }
            
        &:-ms-input-placeholder {
            color: #b3b3b3;
            font-style: normal;
            line-height: 16.2px;
        }
    }
}