.task-list-placeholder {
    margin-left: 55px;
    border-left: 5px solid #e5e3e3;
    padding: 5px 0 15px 20px;
    font-size: 1.3em;
    color: #888888;

    .large {
        font-size: 3em;
        font-weight: 100;
        font-family: 'Roboto';
        margin-left: -4px;
        display: block;
    }
}
