#branding {
    margin: 100px 0 10px 10px;

    img {
        float: left;
    }

    #logo-text {
        color: #7da468;
        margin: 16px 0 0 10px;
        float: left;
    }
}

#authentication-wrapper {
    background: #ffffff;
    padding: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    h2 {
        margin-top: 0;
    }
}