#authentication-page {
    margin-top: 40px;

    .logo {
        margin-left: 5px;
    }

    #authentication-wrapper {
        background: #ffffff;
        margin-top: 5px;
        padding: 40px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;

        h2 {
            margin-top: 0;
            font-family: 'Roboto';
            font-weight: 300;
        }
    }
}