// breakpoints
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;

// basic colors
$tt-greendk: #476039;
$tt-green: #5E804D;
$tt-greenlt: #7DA468;

$tt-black: #222222;
$tt-greydk: #444444;
$tt-greymd: #787878;
$tt-greylt: #bbbbbb;
$tt-greyltr: #dbdbdb;
$tt-white: #f3f3f3;

// error colors
$err-text: #b94a48;
$err-border: #eed3d7;
$err-bground: #f2dede;

$warn-text: #c09853;
$warn-border: #fbeed5;
$warn-bground: #fcf8e3;
