.content-module,
.analytics-module {
    background: #ffffff;
    padding-left: 0;
    padding-right: 0;
}

.content-module {
    margin-top: 15px;
}

.module {
    i {
        margin-right: 8px;
    }
}