.task-list-filter-wrapper {
    margin-bottom: 4px;

    .task-list-completion-filter,
    .task-list-date-filter {
        display: inline-block;
    }

    .task-list-date-filter {
        margin-left: 60px;
    }
}