@import '../../../variables';

.module-header {
    i {
        margin-right: 10px;
    }

    h2 {
        display: inline;
        font-size: .9em;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .controls {
        float: right;
    }
}

.sidebar-module-header {
    background: $tt-green;
    padding: 10px;
    color: $tt-white;

    a {
        color: $tt-white;
        text-decoration: none;
        padding: 2px 6px;

        :hover {
            background-color: $tt-greendk;
            text-decoration: none;
        }
    }
}

.analytics-module-header {
    padding: 10px 15px;
    background: $tt-greymd;
    color: $tt-white;
}
