@import "./task-list-items/task-list-items.scss";

.project-list {
    ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
    }

    .project {
        padding: 10px 15px;
        display: block;
        font-size: .9em;
        margin: 0;
        color: #DBDBDB;
        font-weight: bold;

        &:hover {
            background: #312F33;
            text-decoration: none;
            cursor: pointer;
        }

        .active {
            background: #312F33;
        }
    }
}