@import '../../../assets/stylesheets/_variables';

#login {
    background: $tt-white;
    margin-top: 5px;
    padding: 40px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;

    h2 {
        margin-top: 0;
        margin-bottom: 20px;
        font-weight: 300;
    }

    button {
        margin-right: 10px;
    }
}
