@import '../../variables';

#register {
    margin-left: 40px;

    .form-control {
        width: calc(100% - 30px);
        display: inline-block;
    }

    i {
        width: 30px;
        text-align: center;
    }

    .invalid {
        color: $err-text;
    }

    .valid {
        color: $tt-greenlt;
    }
}
