.task-list-completion-filter {
    display: inline-block;
    
    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
        background-color: #5e804d;
    }

    .nav > li > a {
        padding: 4px 6px;
        font-size: .9em;
    }
}